@tailwind base;
@tailwind components;
@tailwind utilities;

.contentTarget {
  right: 1000px;
}

.overlay {
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-wrapper {
  padding: 8rem 0rem;
}
