@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --themeBlueD: #61a0af;
  --themeBlueL: #96c9dc;
  --themePinkD: #f06c9b;
  --themePinkL: #f9b9b7;
  --themeYellow: #f5d491;
  --themeWhite: #f2f1f0;
  --themeBlack: #181818;
}

/* loader component */
.load-animation-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  z-index: 100;
  pointer-events: none;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.block {
  flex: 1;
  background-color: var(--themePinkL);
  transform: scaleY(1);
  will-change: transform;
}

.top {
  transform-origin: top;
}

.bottom {
  transform-origin: bottom;
}

.loading {
  overflow: hidden;
  height: 100vh;
  opacity: 0;
}

/* h2 title component */
.original {
  perspective: 600px;
}

.copy span {
  transform: rotateX(-90deg) translateY(-50%);
  opacity: 0;
}

/* navbar link */
.link-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.nav-link {
  font-size: 16px;
  color: goldenrod;
}

.nav-link::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100px;
  height: 50px;
  clip-path: path(
    "M 2.5 11 C 2.5 11 29.9237 11 48 11 C 66.0763 11 93.5 11 93.5 11"
  );
  /* clip-path: path("M2.5 11C2.5 11 29.9237 11 48 11C66.0763 11 93.5 11 93.5 11"); */
  background-color: pink;
}

/* buttons */
.btn {
  border: 1px solid;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 1rem;
  text-wrap: nowrap;
  width: 100%;
  font-weight: 500;
  color: var(--themeBlack);
}

.btn:hover {
  transition: ease-in 0.2s;
}

.primary-btn {
  border-color: var(--themeBlueD);
  background-color: var(--themeBlueL);
  filter: drop-shadow(4px 4px var(--themeBlueD));
}

.primary-btn:hover {
  filter: drop-shadow(6px 6px var(--themeBlueD));
}

.secondary-btn {
  border-color: rgb(252, 199, 92);
  background-color: var(--themeYellow);
  filter: drop-shadow(4px 4px rgb(252, 199, 92));
}

.secondary-btn:hover {
  color: var(--themeBlack);
  filter: drop-shadow(6px 6px rgb(252, 199, 92));
}

/* hero section */
.hero-animation-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(1, 0);
  background-color: green;
  z-index: 10;
}

.section-bg {
  background-color: rgb(245, 212, 145, 15%);
}

.h1-shadow {
  color: green;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(1%, 4%);
  z-index: 1;
}

.text-path {
  position: relative;
  width: 220px;
  height: 220px;
}

.text-path::before {
  position: absolute;
  content: "";
  border-radius: 100%;
  width: 160px;
  height: 160px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-size: cover;
  background-position: center;
}

.text-1-path {
  top: 10%;
  left: 68%;
  scale: 0.9;
}

.text-1-path::before {
  background-image: url("/assets/images/bird.jpg");
}

.text-2-path {
  top: -10%;
  left: 10%;
  scale: 0.75;
}

.text-2-path::before {
  background-image: url("/assets/images/bird.jpg");
}

.text-3-path {
  top: 24%;
  left: 75%;
  scale: 0.85;
}

.text-3-path::before {
  background-image: url("/assets/images/bird.jpg");
}

.text-4-path {
  top: -5%;
  left: 5%;
  scale: 0.65;
}

.text-4-path::before {
  background-image: url("/assets/images/bird.jpg");
}

/* work experience */
.mask-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--themeBlueD);
}

.char-stroke {
  text-shadow: 1px 1px 0 green, -1px -1px 0 green, 1px -1px 0 green,
    -1px 1px 0 green;
}

.text-mask {
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.detail-section {
  position: relative;
  width: 100vw;
  /* background-image: url("/assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  z-index: 20;
}

.detail-section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(40%);
  z-index: -1;
}

/* skills */
.card-container {
  max-height: 800px;
}

.cardgroup {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.card {
  position: absolute;
  width: 100%;
  height: 332px;
}

.card1Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card1 {
  /* top: 0%; */
  transform: translate(0, 0%);
}

.card2 {
  /* top: 25%; */
  transform: translate(0, 100%);
}
.card3 {
  /* top: 50%; */
  transform: translate(0, 200%);
}
.card4 {
  /* top: 75%; */
  transform: translate(0, 300%);
}
/* test */

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

@media (min-width: 768px) {
  .hero-heading-container {
    font-size: 5rem;
    line-height: 6rem;
  }

  .hero-heading-shadow {
    top: 0.5rem;
    left: -0.5rem;
  }

  .hero-bg-shadow {
    font-size: 6rem;
  }

  .card1Img {
  }
}

@media (min-width: 1024px) {
}
